# Jupyter notebook checkpoints
.ipynb_checkpoints
# Byte-compiled files
__pycache__/
*.py[cod]
# miscellaneous intermediate files for latex
*.aux
*.bbl
*.bcf
*.sty
formulations/*.gz
formulations/*.log
formulations/*.out
formulations/*.xml
presentation/*.gz
presentation/*.log
presentation/*.out
presentation/*.xml
presentation/*.snm
presentation/*.nav
presentation/*.vrb
presentation/*.toc
presentation/*.blg
# Ignore unnecessary documentation/uml files
out/**/*.png
# unwanted local test scripts
style_sheets_reference.py
test.py

# VSCode utilities
.VSCodeCounter

# Currently, ignore wolfram mathematica notebooks
*.nb
