# Ignore ipython notebooks
*.ipynb linguist-generated
# Ignore UML files
*.puml linguist-generated
*.html linguist-generated
# Ignore JSON files
*.json linguist-generated
# Register .mtx, .h5 file as large binary files
# that does not need to be version tracked as src files
.h5 filter=lfs diff=lfs merge=lfs -text
.pkl filter=lfs diff=lfs merge=lfs -text
.hdf5 filter=lfs diff=lfs merge=lfs -text
.mtx filter=lfs diff=lfs merge=lfs -text
# docs/*.html filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
